/* Common style for the website */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f5f5f5;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1,
h2,
h3,
h4 {
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

footer {
  background-color: #e6e5e5;
  padding: 10px;
  text-align: center;
}

p {
  font-size: large;
}

#wrapper {
  flex: 1;
  transition: margin-left 0.3s ease;
}

.post {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post h3 {
  margin-top: 0;
}

.post p {
  margin-bottom: 10px;
}

.post ul {
  list-style-type: none;
  padding-left: 0;
}

.comment {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.logo {
  max-width: 50px; /* Adjust the size as needed */
  height: auto;
}

.social-media-links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

/* Dark mode styles */
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4 {
  color: #fff;
}

.dark-mode a {
  color: #909090;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode footer {
  background-color: #444;
  color: #fff;
  padding: 10px;
}

.dark-mode nav ul li a {
  background-color: #555;
  color: #fff;
}
.dark-mode nav ul li a.active {
  border: 2px solid #333;
  box-shadow: 0 0 10px #fff;
}

.dark-mode .download-link {
  background-color: #ddd;
  color: #000;
}

.dark-mode .download-link:hover {
  background-color: #aaa;
}

/* Dark Mode Toggle styles */
.dark-mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

#dark-mode-toggle {
  display: none;
}

label {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #ddd;
  border-radius: 25px;
}

.toggle-icon {
  position: absolute;
  font-size: 18px;
  color: #333;
  transition: transform 0.3s ease;
}

#moon {
  transform: translateX(-10px);
  opacity: 0;
}

#sun {
  transform: translateX(15px);
  opacity: 1;
}

#dark-mode-toggle:checked + label #moon {
  transform: translateX(15px);
  opacity: 1;
}

#dark-mode-toggle:checked + label #sun {
  transform: translateX(-10px);
  opacity: 0;
}

#toggle-text {
  transition: opacity 0.5s ease;
}

/* Download Button styles */
.download-link {
  display: inline-block;
  width: 70vw;
  padding: 5px 0px;
  text-align: center;
  background-color: #222;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.download-link:hover {
  background-color: #444;
}

.download-link::before {
  content: "⬇ Download ";
}

/* Image and image link styles */
.image-link {
  display: inline-block;
}

/* .my-image {
  max-height: 500px;
  object-fit: cover;
} */

/* Navigation Bar styles */
nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  flex-grow: 1;
}
nav ul li a {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

nav ul li a {
  background-color: #666;
  color: #fff;
}

nav ul li a:hover {
  background-color: #444;
}

nav ul li a.active {
  background-color: #444;
  font-weight: bold;
  border: 2px solid #fff;
  box-shadow: 0 0 10px #000;
}

/* Scroll to top and bottom buttons */
#scroll-to-top,
#scroll-to-bottom {
  position: fixed;
  right: 10px;
  padding: 10px;
  background-color: #555;
  color: #fff;
  border: none;
  cursor: pointer;
  opacity: 0.1;
  transition: opacity 1s;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 20px;
}

#scroll-to-top {
  top: 20vh;
}

#scroll-to-bottom {
  bottom: 10vh;
}

.timeline {
  position: relative;
  margin: 0 auto;
  padding: 20px 0;
  overflow: hidden; /* Ensure the container height adjusts dynamically */
}

.timeline::after {
  content: "";
  display: table;
  clear: both;
}

.timeline,
.timeline * {
  box-sizing: border-box;
}

.timeline-line {
  position: absolute;
  left: 50%;
  width: 2px;
  background-color: #d4d4d4;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.timeline-line::before {
  content: "2013";
  position: absolute;
  left: -25px;
  top: 0;
  color: #888;
  font-size: 14px;
}

.timeline-line::after {
  content: "2024";
  position: absolute;
  left: -25px;
  bottom: 0;
  color: #888;
  font-size: 14px;
}

.timeline-event {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 45%;
  z-index: 2;
  box-sizing: border-box;
  min-height: 50px; /* Ensure minimum height */
}

.timeline-event.education {
  left: 0;
  padding-right: 10%;
  text-align: right;
}

.timeline-event.experience {
  right: 0;
  padding-left: 10%;
  text-align: left;
}

.timeline-event .content {
  padding: 10px;
  border-radius: 4px;
  color: white;
  min-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.timeline-event.education .content {
  margin-right: 20px;
}

.timeline-event.experience .content {
  margin-left: 20px;
}

.timeline-event::before {
  content: attr(data-start);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #888;
  font-size: 14px;
  top: -20px; /* Adjust as needed */
}

/* Ensure the start date is always visible for truncated events */
.start-date {
  position: absolute;
  top: -30px; /* Adjust as needed to ensure visibility */
  left: 50%;
  transform: translateX(-50%);
  color: #888;
  font-size: 14px;
}
