/* Common style for the website */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 20px;
  background-color: #f5f5f5;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1,
h2,
h3,
h4 {
  color: #333;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

footer {
  background-color: #e6e5e5;
  padding: 10px;
  text-align: center;
}

p {
  /* font-size: large; */
  font-size: 1rem;
}

#wrapper {
  flex: 1;
  transition: margin-left 0.3s ease;
}

.post {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post h3 {
  margin-top: 0;
}

.post p {
  margin-bottom: 10px;
}

.post ul {
  list-style-type: none;
  padding-left: 0;
}

.comment {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.logo {
  /* max-width: 50px; Adjust the size as needed */
  aspect-ratio: 1/1; /* Maintain aspect ratio */
  /* max-width: 100%; */
  max-width: 5vw;
  max-height: 5vw;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: contain; /* Ensures image fits the height of the content */
}

@media (max-width: 768px) {
  .logo {
    max-width: 10vw;
    max-height: 10vw;
  }
}

@media (max-width: 480px) {
  .logo {
    max-width: 15vw;
    max-height: 15vw;
  }
}

.social-media-links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

#dark-mode-toggle {
  display: none;
}

label {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #ddd;
  border-radius: 25px;
}

.toggle-icon {
  position: absolute;
  font-size: 18px;
  color: #333;
  transition: transform 0.3s ease;
}

#moon {
  transform: translateX(-10px);
  opacity: 0;
}

#sun {
  transform: translateX(15px);
  opacity: 1;
}

#dark-mode-toggle:checked + label #moon {
  transform: translateX(15px);
  opacity: 1;
}

#dark-mode-toggle:checked + label #sun {
  transform: translateX(-10px);
  opacity: 0;
}

#toggle-text {
  transition: opacity 0.5s ease;
}

/* Download Button styles */
.download-link {
  display: inline-block;
  width: 70vw;
  padding: 5px 0px;
  text-align: center;
  background-color: #222;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.download-link:hover {
  background-color: #444;
}

.download-link::before {
  content: "⬇ Download ";
}

/* Image and image link styles */
.image-link {
  display: inline-block;
}

/* Navigation Bar styles */
nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

nav ul li {
  flex-grow: 1;
  flex: 1 1 auto;
  text-align: center;
}

nav ul li a,
.selected-item {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  box-sizing: border-box;
  border: 2px solid #777;
  color: #fff;
}

nav ul li a {
  background-color: #666;
}

.selected-item {
  display: none;
  background-color: #333;
}

.selected-item::before,
.selected-item::after {
  content: "▼";
  position: relative;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.selected-item::before {
  left: -5px;
}

.selected-item::after {
  right: -5px;
}

.selected-item.expanded::before,
.selected-item.expanded::after {
  content: "▲";
  transform: rotate(180deg);
}

nav ul li a:hover {
  background-color: #444;
}

nav ul li a.active {
  background-color: #444;
  font-weight: bold;
  box-shadow: 0 0 10px #000;
}

.navbar-toggler {
  display: none; /* Hidden on larger screens */
  font-size: 24px;
  cursor: pointer;
  color: #333;
  /* background-color: #e6e5e5; */
  border: 2px solid #666;
  border-radius: 5px;
  padding: 5px 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-toggler:hover {
  background-color: #ddd; /* Slightly darker gray on hover */
  color: #000; /* Darker text on hover */
}

.navbar-toggler:focus {
  outline: none; /* Remove default outline */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a focus shadow for accessibility */
}

@media (max-width: 768px) {
  nav ul {
    display: none; /* Hide the navigation items initially */
    flex-direction: column;
    width: 100%;
    background-color: #444; /* Optional: Background for the dropdown */
  }

  nav ul.active {
    display: flex; /* Show the nav items when toggled */
  }

  nav ul li {
    margin: 0; /* Remove horizontal margin */
    text-align: center;
  }

  .navbar-toggler {
    display: block; /* Show the hamburger menu icon */
  }

  .selected-item {
    display: block;
  }

  /* Hide selected-item when navbar menu is active */
  nav ul.active + .selected-item {
    display: none; /* Hides the selected-item */
  }
}

/* Scroll to top and bottom buttons */
#scroll-to-top,
#scroll-to-bottom {
  position: fixed;
  right: 10px;
  padding: 10px;
  background-color: #555;
  color: #fff;
  border: none;
  cursor: pointer;
  opacity: 0.1;
  transition: opacity 1s;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 20px;
  z-index: 10;
}

#scroll-to-top {
  top: 20vh;
}

#scroll-to-bottom {
  bottom: 10vh;
}

/* Timeline styles */
.timeline {
  position: relative;
  margin: 0 auto;
}

.timeline-line {
  position: absolute;
  left: calc(50%);
  width: 2px;
  background-color: #444;
}

.timeline-line.dotted {
  border-left: 2px dotted #444;
  background: none;
}

.year-marker {
  position: absolute;
  left: calc(50%);
  transform: translate(-50%) translateY(-50%);
  color: #444;
  text-shadow: #111;
  font-size: 14px;
}

.timeline-event {
  position: absolute;
  display: flex;
  align-items: center;
  width: 42%;
  box-sizing: border-box;
  margin: 0 3%;
  border-radius: 10px;
  border: #000 solid 2px;
  box-shadow: 0 0 5px #444;
}

.timeline-event.education {
  left: 0;
  background-color: rgba(150, 150, 150, 0.4);
  text-align: left;
}

.timeline-event.experience {
  right: 0;
  background-color: rgba(100, 100, 100, 0.4);
  text-align: right;
}

.timeline-event .content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timeline-event .content h3,
.timeline-event .content h4,
.timeline-event .content p {
  margin: 2px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-width: 100%;
}

.timeline-event::before {
  content: attr(data-start);
  position: absolute;
  top: 5px;
  color: #444;
  font-size: 12px;
}

.timeline-event::after {
  content: attr(data-end);
  position: absolute;
  bottom: 5px;
  color: #444;
  font-size: 12px;
}

.timeline-event.education::before,
.timeline-event.education::after {
  right: 5px; /* Position on the right inside the box */
  left: auto; /* Ensure left is reset */
  text-align: right; /* Right-align for education */
}

.timeline-event.experience::before,
.timeline-event.experience::after {
  left: 5px; /* Position on the left inside the box */
  right: auto; /* Ensure right is reset */
  text-align: left; /* Left-align for experiences */
}

.timeline-heading {
  position: absolute;
  top: 0;
  width: 50%;
  text-align: center;
}

.timeline-heading h3 {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px #444;
  border-radius: 10px;
  margin: 0; /* Remove default margin */
}

.left-heading {
  left: 0;
}

.right-heading {
  right: 0;
}

.detail-box {
  display: none; /* Ensures detail box is hidden by default */
  position: absolute;
  background-color: #ddd;
  color: #555;
  border: 1px solid #666;
  padding: 10px;
  width: max-content; /* Set width to automatically adjust to content */
  max-width: 50vw;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(128, 128, 128, 0.4);
  left: 100%;
  top: 0;
}

.timeline-logo-link {
  flex: 0 0 10vw;
  max-width: 10vw;
  max-height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.timeline-event:hover .detail-box {
  display: flex; /* Shows the detail box when event box is hovered */
  flex-direction: row;
}

.timeline-logo-link .logo {
  max-width: 100%;
  max-height: 100%;
  height: auto; /* Maintains aspect ratio */
  object-fit: contain; /* Ensures image fits the height of the content */
}

.detail-box .details {
  flex: 1 1 auto; /* Take up remaining space */
  padding: 0 10px;
}

.timeline-event.education:hover .detail-box {
  flex-direction: row; /* Logo to the left for education */
}

.timeline-event.experience:hover .detail-box {
  flex-direction: row-reverse; /* Logo to the right for experience */
}

/* Profile Section styles */
.profile-section {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.profile-image {
  flex: 0 0 auto;
  padding: 10px;
}

.profile-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.profile-info {
  flex: 1 1 60vw;
  padding: 10px;
  text-align: justify;
  /* max-width: fit-content; */
}

@media (max-width: 768px) {
  .profile-section {
    flex-direction: column;
    align-items: center;
  }

  .profile-image,
  .profile-info {
    flex: 1 1 100%;
  }
}
