{% extends "base.html" %}

{% block heading %}
    {{ basic_info.name.split(" ")[0] }}'s Profile
{% endblock %}

{% block content %}
    <div class="main-content">
        <section id="honors_and_awards">
            <h2>Honors and Awards</h2>
            <table>
            <tbody>
                {% for hna in honors_and_awards %}
                    <tr style="padding: 10px;">
                    <td style="padding: 10px; max-width: 25vw"><b>{{ hna.title }}</b></td>
                    <td style="text-align: justify; padding: 10px; max-width: 55vw;">{{ hna.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </section>
        <hr style="max-width: 50vw; margin-left: 0; opacity: 0.5;">

        <section id="interests">
            <h2>Interests</h2>
            <table>
            <tbody>
                {% for int_subcategory, ints in interests.items() %}
                    {% set cat_ints = ", ".join(ints) %}
                    <tr style="padding: 10px;">
                    <td style="padding: 10px;"><b>{{ int_subcategory }}</b></td>
                    <td style="padding: 10px; max-width: 70vw;">{{ cat_ints }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </section>
        <hr style="max-width: 50vw; margin-left: 0; opacity: 0.5;">
    </div>
{% endblock %}