{% extends "base.html" %}

{% block heading %}
    {{ basic_info.name.split(" ")[0] }}'s Profile
{% endblock %}

{% block content %}
    <div class="main-content">
        <section id="honors_and_awards">
            <h2>Honors and Awards</h2>
            <table>
            <tbody class="two-cols">
                {% for hna in honors_and_awards %}
                    <tr>
                    <td><b>{{ hna.title }}</b></td>
                    <td>{{ hna.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </section>
        <hr class="section-divider">

        <section id="interests">
            <h2>Interests</h2>
            <table>
            <tbody class="two-cols">
                {% for int_subcategory, ints in interests.items() %}
                    {% set cat_ints = ", ".join(ints) %}
                    <tr>
                    <td><b>{{ int_subcategory }}</b></td>
                    <td>{{ cat_ints }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </section>
        <hr class="section-divider">
    </div>
{% endblock %}