<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Profile{% endblock %}</title>
    <link href="{{ url_for('static', path='/logos/profile_logo.ico') }}" rel="icon">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/dark-mode.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='/dark-mode.js') }}" defer></script>
    <script src="{{ url_for('static', path='/scroll-functions.js') }}"></script>
    <script src="{{ url_for('static', path='/other-actions.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <button id="scroll-to-top" onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">↑</button>
    <button id="scroll-to-bottom" onclick="window.scrollTo({ top: document.body.scrollHeight, behavior: 'smooth' })">↓</button>

    <div class="dark-mode-toggle">
        <p id="toggle-text"></p>
        <input type="checkbox" id="dark-mode-toggle">
        <label for="dark-mode-toggle">
            <span class="toggle-icon" id="moon">&#127761;</span>
            <span class="toggle-icon" id="sun">&#127774;</span>
        </label>
    </div>

    <div id="wrapper">
        {# <div class="content"> #}
            <h1>
            <div style="display: inline-block; vertical-align: middle;">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', path='logos/profile_logo.png') }}" alt="Logo" style="width: 50px;">
                </a>
            </div>
            <div style="display: inline-block; vertical-align: middle;">
            {% block heading %}
                Profile
            {% endblock %}
            </div>
            </h1>
            {% include "navbar.html" %}
            {% block content %}
            {% endblock %}
            {% include "navbar.html" %}
            <hr>
        {# </div> #}
    </div>
    {% include "footer.html" %}
    
</body>
</html>
