<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Asif Iqbal Rahaman{% endblock %}</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='/dark-mode.js') }}" defer></script>
</head>
<body>
    <div class="toggle-container">
        <input type="checkbox" id="dark-mode-toggle">
        <label for="dark-mode-toggle">Toggle Dark Mode</label>
    </div>

    <h1>{% block heading %}My Profile{% endblock %}</h1>

    {% block content %}
    {% endblock %}

    {% include "footer.html" %}
</body>
</html>
