{% extends "base.html" %}

{% block heading %}
    {{ basic_info.name.split(" ")[0] }}'s Profile
{% endblock %}

{% block content %}
    <div class="main-content">
        {# TODO:Merge Education and Experience into one section and put a straight line as timeline. Left for exp, right for edu. #}
        <section id="experience">
            <h2>Experience</h2>
            <table>
            <tbody>
                {% for exp in experience %}
                    <tr style="padding: 10px;">
                    <td style="padding: 10px; width: 10vw;">
                    <a href="{{ exp.company_link }}" class="image-link"><img src="{{ request.url_for('static', path='/logos/' + exp.company_logo) }}" alt="{{ exp.company }}"></td></a>
                    <td style="padding: 10px; max-width: 75vw;">
                    <p>Work{{ ("ed" if exp.duration_end else "ing") }} at <b style="font-size: large;">{{ exp.company }}</b> at <i>{{ exp.location }}</i> as a <b style="font-size: x-large;">{{ exp.title }}</b> 
                    from <b>{{ exp.duration_start.strftime("%Y-%b-%d") }}</b>{{ (" till <b>" + exp.duration_end.strftime("%Y-%b-%d") + "</b>" if exp.duration_end else "") | safe }}.</p></td>
                    </tr>
                    {% if exp.tech_stack %}
                        <tr style="padding: 10px;">
                        <td style="padding: 10px; width: 10vw;">Technologies Used:</td>
                        <td style="padding: 10px; max-width: 80vw;"><p>{{ exp.tech_stack }}</p></td>
                        </tr>
                    {% endif %}
                    <tr style="padding: 10px;">
                    <td style="padding: 10px; width: 10vw; {% if not loop.last %}border-bottom: 1px solid #555;{% endif %}">Achievements &<br>Responsibilities:</td>
                    <td style="padding: 10px; max-width: 80vw;">
                    <p>
                    {% for resp_head, resp_desc in exp.description %}
                        &bull; <b>{{ resp_head}}: </b> {{ resp_desc }}
                        <br>
                    {% endfor %}
                    {% if exp.important_links %}
                        {% for title, link in exp.important_links.items() %}
                            &bull; <b>{{ title }}</b>: <a href="{{ link }}">{{ link }}</a>
                            <br>
                        {% endfor %}
                    {% endif %}
                    </p>
                    </td>
                    </tr>
                    
                {% endfor %}
            </tbody>
            </table>
        </section>
        <hr style="max-width: 50vw; margin-left: 0; opacity: 0.5;">

        <section id="education">
            <h2>Education</h2>
            <table>
            <tbody>
                {% for edu in education %}
                    <tr style="padding: 10px;">
                    <td style="padding: 10px; width: 10vw;">
                        <a href="{{ edu.institution_link }}" class="image-link"><img src="{{ request.url_for('static', path='/logos/' + edu.institution_logo) }}" alt="{{ edu.institution }}"></a>
                    </td>
                    <td style="padding: 10px; max-width: 80vw;"><p>Stud{{ "ied" if edu.duration_end < curr_date else "ying" }} at <b>{{ edu.institution }}</b> located at <i>{{ edu.location }}</i>. <b>{{ edu. degree }}</b> in <b>{{ edu.major }}</b>
                    {{ (" with specialization in <i>" + edu.minor + "</i>" if edu.minor else "") | safe }} from <b>{{ edu.duration_start.strftime("%Y-%m-%d") }}</b> to 
                    <b>{{ edu.duration_end.strftime("%Y-%m-%d") if edu.duration_end < curr_date else edu.duration_end.strftime("%Y-%m-%d")+" (Expected)" }}</b>.<br>
                    {{ "Final grade" if edu.duration_end < curr_date else "Grade so far"}} is <b>{{ edu.gpa }}</b>.</p></td>
                    </tr>
                    <tr style="padding: 10px;">
                    <td style="padding: 10px; width: 10vw; {% if not loop.last %}border-bottom: 1px solid #555;{% endif %}">Major courses:</td>
                    <td style="padding: 10px; max-width: 80vw;"><p>{{ edu.courses }}</p></td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </section>
        <hr style="max-width: 50vw; margin-left: 0; opacity: 0.5;">
    </div>
{% endblock %}