<footer>
    <p>My Profile</p>
    <div class="social-media-links">
        <a href="https://www.linkedin.com/in/asif-iqbal-r" target="_blank">
            <img src="{{ url_for('static', path='/logos/linkedin.png') }}" alt="LinkedIn" class="logo">
        </a>
        &nbsp;&nbsp;&nbsp;
        <a href="https://github.com/asif256000" target="_blank">
            <img src="{{ url_for('static', path='/logos/github.png') }}" alt="GitHub" class="logo">
        </a>
    </div>
    <div>
        <a href="https://github.com/asif256000/my_personal_fast_website">Check out the source code of the website on GitHub</a>
    </div>
</footer>
