<footer>
    <p>&copy; 2023 My Profile. All rights reserved.</p>
    <div class="social-media-links">
        <a href="https://www.linkedin.com/in/your-linkedin-profile" target="_blank">
            <img src="{{ url_for('static', path='/linkedin-logo.png') }}" alt="LinkedIn">
        </a>
        <a href="https://github.com/your-github-profile" target="_blank">
            <img src="{{ url_for('static', path='/github-logo.png') }}" alt="GitHub">
        </a>
        <!-- Add more social media links as needed -->
    </div>
    <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="asif-iqbal-r" data-version="v1">
        <a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/asif-iqbal-r?trk=profile-badge">Asif Iqbal R.</a>
    </div>
</footer>
