<nav id="navbar">
    <ul>
        <li><a href="{{ url_for('home') }}" class="{{ 'active' if current_page == 'home' else '' }}">Home</a></li>
        <li><a href="{{ url_for('overview') }} " class="{{ 'active' if current_page == 'overview' else '' }}">Overview</a></li>
        <li><a href="{{ url_for('experience_education') }}" class="{{ 'active' if current_page == 'experience_education' else '' }}">Experience & Education</a></li>
        <li><a href="{{ url_for('projects_certificates') }}" class="{{ 'active' if current_page == 'projects_certificates' else '' }}">Projects & Certifications</a></li>
        <li><a href="{{ url_for('awards_interests') }}" class="{{ 'active' if current_page == 'awards_interests' else '' }}">Awards & Interests</a></li>
        <li><a href="{{ url_for('resume') }}" class="{{ 'active' if current_page == 'resume' else '' }}">Resume</a></li>
    </ul>
</nav>