{% extends "base.html" %}

{% block heading %}
    {{ basic_info.name.split(" ")[0] }}'s Profile
{% endblock %}

{% block content %}
    <div class="main-content">
        <section id="intro">
            <p style="text-align: justify;">Hi, I am {{ basic_info.name}}, currently residing in {{ basic_info.location }}.
            <br><br>
            You can reach me at <a href="mailto:"+{{ basic_info.email }}>{{ basic_info.email }}</a> or <a href="tel:"+{{ basic_info.phone }}>{{ basic_info.phone }}</a> ,
            or check out my <a href="{{ basic_info.linkedin }}">LinkedIn</a> or <a href="{{ basic_info.github }}">GitHub</a> profiles.</p>
        </section>
        <hr class="section-divider">

        <section id="timeline">
        <h2>My Timeline</h2>
        <p style="font-size: small; margin: 15px;">* Hover/Click for details</p>
            <div class="timeline">
                <div class="timeline-heading left-heading"><h3>Education</h3></div>
                <div class="timeline-heading right-heading"><h3>Experiences</h3></div>

                {% for edu in education %}
                    <div class="timeline-event education" data-start="{{ edu.duration_start.strftime('%Y-%m') }}" data-end="{{ edu.duration_end.strftime('%Y-%m') if edu.duration_end else curr_date.strftime('%Y-%m') }}">
                        <div class="content">
                            <h3>{{ edu.degree }}</h3>
                            <h4>{{ edu.major }}</h4>
                            <p>{{ edu.institution }}</p>
                        </div>
                        <div class="detail-box">
                            <a href="{{ edu.institution_link }}" class="timeline-logo-link">
                                <img src="{{ url_for('static', path='logos/' + edu.institution_logo + '.webp') }}" alt="{{ edu.institution }}" class="logo" fetchpriority="low">
                            </a>
                            <div class="details">
                                <strong>Degree:</strong> {{ edu.degree }}<br>
                                <strong>Field:</strong> {{ edu.major }}<br>
                                <strong>Institution:</strong> {{ edu.institution }}<br>
                                <strong>Location:</strong> {{ edu.location }}<br>
                                <strong>Duration:</strong> {{ edu.duration_start.strftime('%Y-%m') }} to {{ edu.duration_end.strftime('%Y-%m') if edu.duration_end else 'Present' }}<br>
                                <strong>{{ "Final grade" if edu.duration_end < curr_date else "Grade so far"}}:</strong> {{ edu.gpa }}<br>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% for exp in experience %}
                    <div class="timeline-event experience" data-start="{{ exp.duration_start.strftime('%Y-%m') }}" data-end="{{ exp.duration_end.strftime('%Y-%m') if exp.duration_end else curr_date.strftime('%Y-%m') }}">
                        <div class="content">
                            <h3>{{ exp.title }}</h3>
                            <p>{{ exp.company }}</p>
                        </div>
                        <div class="detail-box">
                        <a href="{{ exp.company_link }}" class="timeline-logo-link">
                                <img src="{{ url_for('static', path='logos/' + exp.company_logo + '.webp') }}" alt="{{ exp.company }}" class="logo" fetchpriority="low">
                            </a>
                            <div class="details">
                                <strong>Title:</strong> {{ exp.title}}<br>
                                <strong>Organization:</strong> {{ exp.company }}<br>
                                <strong>Location:</strong> {{ exp.location }}<br>
                                <strong>Duration:</strong> {{ exp.duration_start.strftime('%Y-%m') }} to {{ exp.duration_end.strftime('%Y-%m') if exp.duration_end else 'Present' }}
                                {% if exp.tech_stack %}
                                    <br><strong>Tech stack used:</strong> {{ exp.tech_stack }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
        </section>
        <hr class="section-divider">

        <section id="skills">
            <h2>Proficient Skills</h2>
            <table>
            <tbody class="two-cols dense-table">
                {% for skill_category, all_skills in skills.items() %}
                    {% set adv_skills = ", ".join(all_skills.get("Advanced", [])) %}
                    {% set int_skills = ", ".join(all_skills.get("Intermediate", [])) %}
                    <tr>
                        <td><b>{{ skill_category }}</b></td>
                        <td>
                            <p style="margin: 5px;">
                                <span style="opacity: 1;">{{ adv_skills }}</span>
                                {% if int_skills %}
                                    <span style="opacity: 0.6;">| {{ int_skills }}</span>
                                {% endif %}
                            </p>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </section>
        <hr class="section-divider">

        <section id="projects">
            <h2>Projects</h2>
            <table>
                <tbody class="equal-two-cols dense-table">
                    {% for proj in projects %}
                        <tr>
                            <td>{{ proj.title }}</td>
                            {% if proj.link %}
                                <td><a href="{{ proj.link }}">{{ proj.link }}</a></td>
                            {% else %}
                                <td>For details, go to <a href="{{ url_for('projects_certificates') }}">Projects & Certifications</a> page...</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <hr class="section-divider">

        <section id="certifications">
            <h2>Certifications</h2>
            <table>
            <tbody class="inverted-two-cols dense-table">
                {% for cert in certifications %}
                    <tr>
                    <td><b>{{ cert.title }}</b> by {{ cert.issuer }}</td>
                    {% if cert.link %}
                        <td><p><a href="{{ cert.link }}">Certificate</a> received on <b>{{ cert.achievement_date.strftime("%Y-%b") }}</b></p></td>
                    {% else %}
                        <td>TBD</td>
                    {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </section>
        <hr class="section-divider">

        <section id="honors_and_awards">
            <h2>Honors and Awards</h2>
            <table>
            <tbody class="equal-two-cols dense-table">
                {% for hna in honors_and_awards %}
                    <tr>
                    <td><b>{{ hna.title }}</b></td>
                    <td>{{ hna.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </section>
        <hr class="section-divider">

        <section id="interests">
            <h2>Interests</h2>
            <table>
            <tbody class="two-cols dense-table">
                {% for int_subcategory, ints in interests.items() %}
                    {% set cat_ints = ", ".join(ints) %}
                    <tr>
                    <td><b>{{ int_subcategory }}</b></td>
                    <td>{{ cat_ints }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </section>
        <hr class="section-divider">

        {% set resume_path = resume[0].file_path %}
        <a href="{{ url_for('static', path=resume_path) }}" download class="download-link" style="width: 50vw;">Resume</a>
        <hr class="section-divider">

    </div>
{% endblock %}

{% block static_links %}
    <link href="{{ url_for('static', path='/timeline.css') }}" rel="stylesheet">
{% endblock %}

{% block head_scripts %}
    <script src="{{ url_for('static', path='/timeline.js') }}"></script>
{% endblock %}