{% extends "base.html" %}

{% block heading %}
    {{ basic_info.name.split(" ")[0] }}'s Profile
{% endblock %}

{% block content %}
    <div class="main-content">
        <section id="projects">
            <h2>Projects</h2>
            <table>
            <tbody class="three-cols">
                {% for proj in projects %}
                    <tr>
                    <td>{{ proj.title }}</td>
                    <td><p class="justify-text">{{ proj.description }}</p></td>
                    {% if proj.link %}
                        <td>Link: <a href="{{ proj.link }}">{{ proj.link }}</a></td>
                    {% else %}
                        <td></td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            </table>
        </section>
        <hr class="section-divider">

        <section id="certifications">
            <h2>Certifications</h2>
            <table>
            <tbody class="three-cols">
                {% for cert in certifications %}
                    <tr>
                    <td><b>{{ cert.title }}</b> {{ " issued by " if cert.link else " at " }} {{ cert.issuer }}</td>
                    <td><p class="justify-text">{{ cert.description }}</p></td>
                    {% if cert.link %}
                        <td><p><a href="{{ cert.link }}">Certificate</a> earned on <b>{{ cert.achievement_date.strftime("%Y-%m-%d") }}</b></p></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </section>
        <hr class="section-divider">
    </div>
{% endblock %}