{% extends "base.html" %}

{% block heading %}
    {{ basic_info.name.split(" ")[0] }}'s Profile
{% endblock %}

{% block content %}
    <div class="main-content">
            <section id="resume">
            <h2>Resume</h2>
            <p>If you are looking for a resume for a specific role, please let me know via email or phone. I can tailor 
            the resume for the role with my existing skills and experience, mentioning the relevant technologies and will send it to you.</p>
            {% set resume_path = resume[0].file_path %}
            <a href="{{ url_for('static', path=resume_path) }}" download class="download-link">Resume</a>
            <br>
            <object class="resume-container" data="{{ url_for('static', path= resume_path ) }}" type="application/pdf">
                <embed src="{{ url_for('static', path= resume_path ) }}" type="application/pdf">
            </object>
        </section>
        <hr class="section-divider" style="max-width: 70vw;">
    </div>
{% endblock %}